<!-- templates/produtos.html -->
{% extends 'base.html' %}

{% block titulo %}Terminal SQL{% endblock %}

{% block conteudo %}
{% if err %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Erro</strong> {{err}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">SQL AREA</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="height: 500px;">{{ ve }}</textarea>
    </div>
    <div class="">
        <button id="pes" type="submit" class="btn btn-primary mb-3">Fazer chamada</button>
    </div>



{% if re %}
    <div class="row">
    <div class="col"><h2>Resultados</h2></div>
    <div class="col">
        <button id="excel" type="submit" class="btn btn-primary mb-3">Baixar excel</button>
    </div>
    </div>

    <table class="table">
  <thead>
    <tr>
        {% for i in ch %}
      <th scope="col">{{ i }}</th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i in re %}
    <tr>
      {% for ii in i %}
      <td>{{ ii }}</td>
    {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
{% if ve %}
<li>Nenhum resultado encontrado.</li>
{% endif %}
{% endif %}
{% endblock %}

{% block java %}

function abrirPagina() {
    var textarea = document.getElementById('exampleFormControlTextarea1');
    textarea.value = textarea.value.split(/\r?\n/).join(' ');
    window.location.href='{{urlpes}}'+textarea.value;
}

// Chamar a função ao clicar em um botão
document.getElementById('pes').addEventListener('click', abrirPagina);

{% if ve %}
// Abrir uma nova aba ou janela
function baixarexcel() {
    window.open('{{url}}', '_blank'); // '_blank' abre em uma nova aba
}

// Chamar a função ao clicar em um botão
document.getElementById('excel').addEventListener('click', baixarexcel);
{% endif %}
{% endblock %}